body{
    font-family: 'Playfair Display', serif;
}

h1{
    font-size: 60px;
    text-align: center;
    color: brown;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.menu li{
    list-style: "🎥";
}

.menu li a{
    text-decoration: none;  
    color: rgb(44, 43, 43);
}

h3{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: firebrick;
}

p{
    text-align: center;
    padding: 20px;

}

span{
    display: flex;
    justify-content: center;
    font-size: 90px;
    color: rgb(71, 6, 6);
}
